<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Currency Bar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>75369A011E60EED300DF516C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75369A121E60EED400DF516C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>75369A1D1E60EED400DF516C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
